<div class="container">
    <h1>
        Teacher
        <!-- button Add -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path
                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
            Add
        </button>
    </h1>



    <!-- //ตาราง Student -->
    <table>
        <thead style="text-align: center;">
            <tr class="table-info">

                <th>Name</th>
                <th>Tel</th>
                <th>Subject</th>
                <th>Edit</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let data of this.dataTeacher">
                <td>{{data.teacherName}}</td>
                <td>{{data.teacherTel}}</td>
                <td>{{data.subjectTaught}}</td>
                <!-- Button Edit -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editStudent"
                    (click)="getDataTeacherById(data.teacherId)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                    Edit</button>

                <!-- Button Delete  -->
                <button type="button" class="btn btn-danger" (click)="deleteDataTeacher(data.teacherId)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash" viewBox="0 0 16 16">
                        <path
                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                        <path fill-rule="evenodd"
                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                    </svg>
                    Delete</button>
            </tr>

        </tbody>
    </table>

</div>




<!-- Modal button Add -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">เพิ่มข้อมูล Teacher</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0.5rem 2rem;">
                <form [formGroup]="data" (ngSubmit)="add()">
                    <p> ชื่อ-นามสกุล : </p>
                    <input class="form-control" type="text" formControlName="teacherName"
                        [ngClass]="{'is-invalid' : statusbtn && formcontroldata.teacherName.errors}"
                        placeholder="กรอก ชื่อ-นามสกุล">
                    <div *ngIf="statusbtn && formcontroldata.teacherName.errors" class="invlid-feedblack">
                        <div *ngIf="statusbtn && formcontroldata.teacherName.errors.required">
                            <p style="font-size: 12px; color: red;">*กรุณากรอกข้อมูล</p>
                        </div>
                    </div>
                    <p style="margin-top: 20px;"> อายุ :</p>
                    <input class="form-control" type="text" formControlName="teacherTel"
                        [ngClass]="{'is-invalid' : statusbtn && formcontroldata.teacherTel.errors}"
                        placeholder="กรอกอายุ">
                    <div *ngIf="statusbtn && formcontroldata.teacherTel.errors" class="invlid-feedblack">
                        <div *ngIf="statusbtn && formcontroldata.teacherTel.errors.required">
                            <p style="font-size: 12px; color: red;">*กรุณากรอกข้อมูล</p>
                        </div>
                        <div *ngIf="statusbtn && formcontroldata.teacherTel.errors.pattern">
                            <p style="font-size: 12px; color: red;">*กรุณากรอก 0-9</p>
                        </div>
                        <div *ngIf="statusbtn && formcontroldata.teacherTel.errors.minlength">
                            <p style="font-size: 12px; color: red;">*ข้อมูลไม่ถูกต้อง</p>
                        </div>
                        <div *ngIf="statusbtn && formcontroldata.teacherTel.errors.maxlength">
                            <p style="font-size: 12px; color: red;">*ข้อมูลไม่ถูกต้อง</p>
                        </div>
                    </div>

                    <p style="margin-top: 20px;"> เบอร์โทร :</p>
                    <input class="form-control" type="text" formControlName="subjectTaught"
                        [ngClass]="{'is-invalid' : statusbtn && formcontroldata.subjectTaught.errors}"
                        placeholder="กรอกเบอร์โทร">
                    <div *ngIf="statusbtn && formcontroldata.subjectTaught.errors" class="invlid-feedblack">
                        <div *ngIf="statusbtn && formcontroldata.subjectTaught.errors.required">
                            <p style="font-size: 12px; color: red;">*กรุณากรอกข้อมูล</p>
                        </div>
                        <div *ngIf="statusbtn && formcontroldata.subjectTaught.errors.pattern">
                            <p style="font-size: 12px; color: red;">*กรุณากรอก 0-9</p>
                        </div>
                        <div *ngIf="statusbtn && formcontroldata.subjectTaught.errors.minlength">
                            <p style="font-size: 12px; color: red;">*ข้อมูลเบอร์โทรไม่ถูกต้อง </p>
                        </div>
                        <div *ngIf="statusbtn && formcontroldata.subjectTaught.errors.maxlength">
                            <p style="font-size: 12px; color: red;">*ข้อมูลเบอร์โทรไม่ถูกต้อง</p>
                        </div>
                    </div>
                    <br>
                    <button type="submit" class="btn btn-primary" style="float: right;">ยืนยัน</button>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Model Button Edit -->
<div class="modal fade" id="editStudent" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="border-bottom: 1px solid #28a745;">
                <h2 class="modal-title" id="exampleModalLabel">Edit Teacher</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0.5rem 4rem;">
                <div class="row">
                    <p> ชื่อ-นามสกุล : </p>
                    <input type="text" class="form-control" [(ngModel)]="data.teacherName"
                        placeholder="กรอก ชื่อ-นามสกุล">
                </div>
                <div class="row">
                    <p> อายุ : </p>
                    <input type="text" class="form-control" [(ngModel)]="data.teacherTel" placeholder="กรอกอายุ">
                </div>
                <div class="row">
                    <p> เบอร์โทร : </p>
                    <input type="text" class="form-control" [(ngModel)]="data.subjectTaught" placeholder="กรอกเบอร์โทร">
                </div>
                <br>
                <button type="button" class="btn btn-success" style=" margin-left: 20rem;" (click)="editDataTeacher()"
                    data-dismiss="modal">ยืนยัน</button>
            </div>
        </div>

    </div>
</div>