table{
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

table thead{
  text-align: center;
}

table thead tr th{
  width: 10px;
  height: 50px;
  color: black;
  font-size: 20px;
}

table tbody{
  text-align: center;
}

table tbody tr{
 border: 0.5px solid grey;
}
.modal-body{
  margin: 0rem 1.5rem;
  
}
.modal-body button{
  margin-top: 1rem;
  float: right ;
}
.dropdown-menu{ 
  text-align: center; 
}
.dropdown-menu button{
  width: 90%;
  margin: 0px 0px;
}   
.dropdown-menu .btn{
  font-size: 13px;
}   
