/* You can add global styles to this file, and also import other style files */
.container{
    margin-top: 2rem;
}
.container h1{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
.container h1 button{
    width: 80px;
    margin-left: 1rem;
}

.modal{
    margin-top: 7rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
